body {
    font-family: 'Raleway';
}

nav {
    background-color: #303030;
}

#bg {
    background-color: rgb(0, 0, 0, 1);
}

.bg-text {
    padding-top: 95px;
    padding-bottom: 95px;
}

.bg-text h1 {
    font-size: 66px;
    margin: 0px;
    margin-top: 33px;
}

.bg-text h4 {
    font-size: 24px;
    margin: 0px;
}